<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <form class="example-form" (submit)="ChangePasswordMethod()" [formGroup]="ChangePassword">
        <table class="example-full-width" cellspacing="0">
           <tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>password</mat-label>

            <input matInput placeholder="Password" type="password" name="password" formControlName="Password" required>
            <mat-error *ngIf="ChangePassword.invalid">{{getErrorMessagePassword()}}</mat-error>

        </mat-form-field></td>
        </tr>
        <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>confirm Password</mat-label>
  
              <input matInput placeholder="confirm Password" type="password" name="ConfirmPassword" formControlName="ConfirmPassword" required>
              <mat-error *ngIf="ChangePassword.invalid">{{getErrorMessageConfirmPassword()}}</mat-error>
              <!-- <mat-error *ngIf="ChangePassword.hasError('passwordMismatch')">Passwords do not match</mat-error> -->
              <mat-error *ngIf="password">Passwords do not match</mat-error>

          </mat-form-field></td>
          </tr>
    </table>
      </form>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="ChangePasswordMethod()" [disabled]="ChangePassword.invalid"  color="primary">Chnage Password</button>
    </mat-card-actions>
  </mat-card>
 